---
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import ReviewComponent from "@components/ui/blocks/ReviewComponent.astro";

const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  withReview,
  avatars,
  starCount,
  rating,
  reviews,
  src,
  style,
  alt,
} = Astro.props;

interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  withReview?: boolean;
  avatars?: Array<string>;
  starCount?: number;
  rating?: string;
  reviews?: string;
  src?: any;
  style?: string;
  alt?: string;
}
---

<section
  class="relative mx-auto max-w-[85rem] overflow-hidden px-4 py-14 sm:px-6 lg:px-8"
>
  <!-- Grid wrapper -->
  <div class="relative z-10 grid items-center gap-8 md:grid-cols-2">
    <!-- Text content -->
    <div class="relative z-20">
      <h1
        class="text-3xl font-bold tracking-tight text-neutral-800 sm:text-4xl lg:text-6xl dark:text-neutral-200"
      >
        <Fragment set:html={title} />
      </h1>
      {
        subTitle && (
          <p class="mt-4 text-lg leading-relaxed text-neutral-700 lg:w-4/5 dark:text-neutral-400">
            {subTitle}
          </p>
        )
      }

      <div class="mt-7 grid w-full gap-3 sm:inline-flex">
        {primaryBtn && <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />}
        {
          secondaryBtn && (
            <SecondaryCTA title={secondaryBtn} url={secondaryBtnURL} />
          )
        }
      </div>

      {
        withReview && (
          <div class="mt-6">
            <ReviewComponent
              avatars={avatars}
              starCount={starCount}
              rating={rating}
              reviews={reviews}
            />
          </div>
        )
      }
    </div>

    <!-- Hero image -->
    <div
      class="relative z-10 flex justify-center overflow-hidden md:justify-end"
    >
      {
        src && alt && (
          <Image
            src={src}
            alt={alt}
            class="w-full max-w-[440px] object-contain object-center drop-shadow-xl"
            draggable={"false"}
            loading={"eager"}
            format={"avif"}
            style={style}
          />
        )
      }
    </div>
  </div>
</section>
