---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/pango/PangoDirigindoPoisEleJuraTerIdade.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/PessoalDaSunCity.png";
import solda from "@images/Soldando.png";
import carro from "@images/CarroBaja.png";
import juntos from "@images/Juntos.png";
import blusa from "@images/Camiseta.png";
import { partnersData } from "@/data_files/constants";
---

<MainLayout>
  <HeroSection
    title=`Conheça a <br /><span class="text-orange-600 dark:text-orange-500">Sun City Baja</span>`
    subTitle="Direto da Bahia para o mundo da engenharia automotiva. Acelerando sonhos e construindo futuros!"
    primaryBtn="Apoie com uma doação"
    primaryBtnURL="/doe"
    secondaryBtn="Seja nosso patrocinador"
    secondaryBtnURL="/patrocine"
    withReview={false}
    src={heroImage}
    style="max-width: 70%"
    alt="Pango, o mascote da Sun City Baja, dirigindo o carro da equipe"
  />

  <!-- Nota para mim: Fazer a cor da logo mudar conforme Dark e Light mode-->
  <ClientsSection
    title="Nossos Parceiros"
    subTitle="Patrocinadores que já apoiam a nós e o nosso sonho como engenheiros."
    partners={partnersData}
  />

  <FeaturesGeneral
    title="Mais que uma equipe, um movimento"
    subTitle="A Sun City Baja é formada por jovens apaixonados por engenharia mecânica do IFBA Jequié. Construímos veículos off-road e sonhos de um futuro brilhante, levando inovação e criatividade de Jequié na Bahia para as pistas da competição Baja SAE. Apoie o talento local que transforma teoria em potência!"
    src={featureImage}
    alt="Fotos dos membros da equipe Sun City Baja durante a construção do carro"
    features={features}
  />

  <FeaturesNavs
    title=`Por que apoiar a <span class="text-yellow-500 dark:text-yellow-400">Sun City Baja?</span>`
    tabs={[
      {
        heading: "Engenharia em ação",
        content:
          "Investir na Sun City é fomentar a educação prática e a engenharia real aplicada por jovens talentos do IFBA Jequié.",
        svg: "line-md:gauge-full",
        src: carro,
        alt: "Carro na competição Baja Sae",
        first: true,
      },
      {
        heading: "Visibilidade para sua marca",
        content:
          "Ganhe reconhecimento ao lado de uma equipe promissora em eventos nacionais, mídias sociais e materiais promocionais.",
        svg: "line-md:cellphone-arrow-up",
        src: blusa,
        alt: "Blusa com patrocinadores",
      },
      {
        heading: "Transformação social",
        content:
          "Seu apoio conecta sonhos à realidade, promovendo oportunidades e inclusão pelo ensino técnico superior no interior da Bahia.",
        svg: "line-md:person-add",
        src: juntos,
        alt: "Equipe Reunida",
      },
      {
        heading: "Inovação que inspira",
        content:
          "Ajude a criar soluções reais e tecnológicas que ultrapassam limites — impulsione o futuro com a gente.",
        svg: "line-md:lightbulb",
        src: solda,
        alt: "Foto da capacitação de solda",
      },
    ]}
  />
  <!-- mailto:bajasuncity.ifbajequie@gmail.com -->
  <PricingSection pricing={pricing} />

  <FAQ title="Perguntas frequentes" faqs={faqs} />

  <HeroSectionAlt
    title="Sun City Baja"
    subTitle="Junte-se a quem acredita na engenharia transformadora. Acelere com a gente!"
    url="https://www.instagram.com/suncity.baja/"
  />
</MainLayout>
